.blankDiagram {
    width: 1000px;
    position: relative;
    
}

.diagramContainer {
    padding: 2rem 6rem;
}

.craigDiagram {
    position: absolute;
    width: 800px;
    height: 800px;
    top: -100px;
    left: 200px;
    opacity: 0.1;
    object-fit: contain;
}

.answerInput {
    position: absolute;
    transform: translate(-50%, -50%);

    input {
        text-align: center;
        text-wrap: wrap;
    }

    &.temperatureInput {
        transform: translate(0, -50%);

        input {
            width: 6rem;
        }
    }

    &.carbonPercentageInput {
        input {
            width: 2rem;
        }
    }
}